<!-- CSS -->
<link rel="stylesheet" href="css/style.css">
<!-- GOOGLE FONT -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

<!-- Hidden modal -->
<div id="modal">
    <h2 id="modal-title">Détails de la voiture</h2>
    <div id="modal-close">X</div>
    <div class="form-group">
        <label class="modal-label" for="label">Nom de la voiture</label>
        <input type="text" class="modal-field" id="label">
    </div>
    <div class="form-group">
        <label class="modal-label" for="marque">Marque</label>
        <input type="text" class="modal-field" id="marque">
    </div>
    <div class="form-group">
        <label class="modal-label" for="kilometers">Kilométrage</label>
        <input type="text" class="modal-field" id="kilometers">
    </div>

    <div id="modal-action" onclick="addCar()">Créer</div>
</div>

<!-- Add a new car -->
<button id="button-add">Ajouter une voiture</button>

<!-- Show cars -->
<div class="flex">
    <% cars.forEach(c=> {%>
        <div class="card">
            <h1 class="card-title">
                <%= c.label %>
            </h1>
            <p class="card-row"><span class="card-label">Marque : </span>
                <%= c.marque %>
            </p>
            <p class="card-row"><span class="card-label">Kilométrage : </span>
                <%= c.kilometers %> Km
            </p>
            <p class="card-row"><span class="card-label">Status : </span>
                <%= c.isActive %>
            </p>
            <div class="card-delete" onclick="deleteCar('<%= c._id%>')">X</div>
            <div class="card-update">Modifier</div>
        </div>
        <%}); %>
</div>


<!-- Logic Javascript -->
<script src="js/index.js"></script>