<!-- CSS -->
<link rel="stylesheet" href="css/style.css">
<!-- GOOGLE FONT -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

<style>* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorMain : #38a5c0;
    --colorWarning : #082830;

    --colorDark : #082830;
}

body {
    font-family: Montserrat;
}

#button-add {
    width: fit-content;
    display: block;
    margin: 2.5em auto;
    background-color: var(--colorMain);
    border: 4px solid var(--colorDark);
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 25px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 2.5em 10%;
    background-color: #f9f9f9;
}

.card {
    min-width: 300px;
    max-width: 350px;
    height: auto;
    padding: 25px 25px 10px 25px;
    box-shadow: 5px 5px 10px 2px #00000010;
    background-color: #fff;
    margin: 25px;
    border-radius: 3px;
    position: relative;
}

.card-delete {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background-color: var(--colorWarning);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}

.card-title {
    font-size: 20px;
    color: var(--colorDark);
    padding-bottom: 10px;
    margin-right: 32px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f1f3f5;
    font-weight: bold;
}

.card-label {
    font-weight: 500;
}

.card-row {
    font-size: 16px;
    color: var(--colorDark);
    padding: 5px;
}

.card-update {
    border-radius: 50px;
    color: #fff;
    background-color: var(--colorMain);
    width: fit-content;
    display: block;
    margin: 20px auto 10px auto;
    border: none;
    outline: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

#modal {
    width: 50vw;
    height: fit-content;
    padding: 25px;
    position: fixed;
    top: 10vh;
    left: 25vw;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);    border: 1px solid var(--colorDark);
    border-radius: 10px;
    border-radius: 5px;
    display: none;
}

#modal-title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: var(--colorDark);
    padding-bottom: 25px;
    border-bottom: 5px solid #f1f3f5;
}

#modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background-color: var(--colorWarning);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}

.modal-field {
    height: 50px;
    outline: none;
    background-color: #f1f3f5;
    box-shadow: 2px 2px 10px 1px #00000010;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
}

.modal-label {
    font-size: 17px;
    color: var(--colorDark);
    padding: .5em;
    margin-bottom: .5em;
    font-weight: 600;
}

.form-group {
    margin: 1em 10%;
    display: flex;
    flex-direction: column;
}

#modal-action {
    border-radius: 50px;
    color: #fff;
    background-color: var(--colorMain);
    width: 50%;
    display: block;
    margin: 50px auto 0 auto;
    border: none;
    outline: none;
    text-align: center;
    padding: 20px 40px;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    cursor: pointer;
}</style>

<!-- Hidden modal -->
<div id="modal">
    <h2 id="modal-title">Ajouter une voiture</h2>
    <div id="modal-close">X</div>
    <div class="form-group">
        <label class="modal-label" for="label">Nom de la voiture</label>
        <input type="text" class="modal-field" id="label">
    </div>
    <div class="form-group">
        <label class="modal-label" for="marque">Marque</label>
        <input type="text" class="modal-field" id="marque">
    </div>
    <div class="form-group">
        <label class="modal-label" for="kilometers">Kilométrage</label>
        <input type="text" class="modal-field" id="kilometers">
    </div>

    <div id="modal-action" onclick="addCar()">Créer</div>
</div>

<!-- Add a new car -->
<button id="button-add">Ajouter une voiture</button>

<!-- Show cars -->
<div class="flex">
    <% cars.forEach(c=> {%>
        <div class="card">
            <h1 class="card-title">
                <%= c.label %>
            </h1>
            <p class="card-row"><span class="card-label">Marque : </span>
                <%= c.marque %>
            </p>
            <p class="card-row"><span class="card-label">Kilométrage : </span>
                <%= c.kilometers %> Km
            </p>
            <p class="card-row"><span class="card-label">Status : </span>
                <%=  c.isActive == true ? 'actif':'innactif' %>
            </p>
            <div class="card-delete" onclick="deleteCar('<%= c._id%>')">X</div>
            <a class="card-update" href='/cars/<%= c._id%>'>Modifier</a>
        </div>
        <%}); %>
</div>

<!-- Logic Javascript -->
<script>
    let modal = document.getElementById('modal');
document.getElementById('modal-close').addEventListener('click', () => {
    modal.style.display = "none";
})

let addButton = document.getElementById('button-add');
addButton.addEventListener('click', () => {
    modal.style.display = "block";
})

function deleteCar(carId) {
    if(confirm('Supprimer la voiture')) {
        fetch(`http://localhost:4400/api/cars/${carId}`, { method: 'DELETE' })
        .then(function (response) {
            return response.json()
        })
        .then(data => console.log(data))
    setTimeout(() => {
        document.location.reload();
    }, 500);
}
}

function addCar() {
    let labelField = document.getElementById('label').value;
    let marqueField = document.getElementById('marque').value;
    let kilometersField = document.getElementById('kilometers').value;
    if (labelField.length < 3) {
        alert('Label field must be completed with more than 3 characters');
        return;
    }
    if (marqueField.length < 3) {
        alert('Marque field must be completed with more than 3 characters');
        return;
    }
    if (kilometersField.length < 1) {
        alert('Kilometers field must be completed with more than 3 characters');
        return;
    }
    fetch(`http://localhost:4400/api/cars`, {
        method: 'POST',
        body: JSON.stringify({
            label: labelField,
            marque: marqueField,
            kilometers: kilometersField
        }),
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        }
    })
        .then(response => {
            return response.json()
        })
        .then(data => console.log(data))
        alert('Voiture crée avec succés')   
        document.location.reload();
}
</script>